/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/* Reset Style */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.2rem;
}

body {
  background-color: rgb(235, 233, 233);
}

header {
  height: 100vh;
  background-image: url(./img/foto_santi1.jpg);
  background-position: center;
  background-size: cover;
}

.siteTitle {
  text-align: center;
  margin-top: 2rem;
  color: #ff3366;
  font-size: 4rem;
  letter-spacing: 1.3rem;
  text-transform: uppercase;

  padding: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

.navBar {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  height: 10vh;
}

.navTitle {
  color: black;
}

.mainNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navIcon-Container {
  width: 2rem;
  cursor: pointer;
}

.navIcon {
  width: 100%;
  transition: 0.5s;
}

.subHeader {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linksContainer {
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.4s linear;
}

.linksContainer-expand {
  height: 153.6px;
}

.link {
  padding: 0.6rem 0;
  padding-left: 1rem;
  list-style: none;
  transition: all 0.3s linear;
}

.link:hover {
  background-color: rgb(235, 233, 233);
  cursor: pointer;
  padding-left: 1.8rem;
}

.link:hover a {
  color: #ff3366;
}

/*Media Query for NavBar Expansion*/

@media screen and (min-width: 768px) {
  .navIcon-Container {
    display: none;
  }

  .linksContainer {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    transition: none;
    display: flex;
    justify-content: center;
    background-color: transparent;
  }

  .link {
    padding-left: 0rem;
    margin: 0.5rem;
  }

  a {
    color: white;
    font-size: 1.1rem;
  }

  .linksList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .navBar {
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
    width: 90vw;
    margin: 0 auto;
  }

  .navBarSticky {
    position: sticky;
    background-color: black;
  }

  .navTitle {
    color: white;
  }

  .link:hover {
    background-color: transparent;
    cursor: pointer;
    padding-left: 0rem;
  }
}

/* Section Style */

.section {
  height: 80vh;
  text-align: center;
  padding: 2rem;
}

.about {
  background-color: rgb(255, 255, 255);
}

.sectionTitle {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
}
