/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/* Reset Style */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.headerTitle {
  font-size: 1rem;
  color: rgb(87, 87, 225);
}

input {
  margin-left: 1rem;
}

.radioOption {
  font-size: 0.8rem;
}

.mainContent {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainTitle {
  background-color: black;
  color: white;
  padding: 0.8rem;
  border-radius: 0.8rem;
  margin: 2rem;
  font-size: 3rem;
  letter-spacing: 0.2rem;
}
.color {
  color: rgb(87, 87, 225);
}

.btn {
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 0.7rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: transparent;
  text-transform: uppercase;
}

.btn:hover {
  background-color: black;
  color: white;
  transition: linear 0.2s;
  cursor: pointer;
}
